---

- name: Create kafka user
  user: name=kafka append=yes state=present createhome=no

- name: Create prometheus user
  user: name=prometheus append=yes state=present createhome=no

- name: Download Kafka distribution
  unarchive:
    src: https://archive.apache.org/dist/kafka/{{ kafka_version }}/kafka_2.13-{{ kafka_version }}.tgz
    dest: /opt/
    remote_src: yes
    owner: kafka
    group: kafka

- name: Symbolic link
  file:
      src: /opt/kafka_2.13-{{ kafka_version }}
      dest: /opt/kafka
      state: link
- name: apply permission due to https://github.com/ansible/ansible/issues/21537 bug
  shell: chown -h kafka:kafka /opt/kafka

- import_tasks: prometheus.yml
- import_tasks: zookeeper.yml
- include_tasks: kafka.yml
  vars:
    broker_id: 1
    port: 9092
    port_metrics: 9192
- include_tasks: kafka.yml
  vars:
    broker_id: 2
    port: 9093
    port_metrics: 9193

- include_tasks: kafka.yml
  vars:
    broker_id: 3
    port: 9094
    port_metrics: 9194
