To change screen resolution :
1- Check the current resolution of your hosting system (outside the remote desktop)
In the remote desktop :
2- Open a terminal and exute the following command :

~/change_vnc_screen_resolution.sh DDDDxDDDD

(example ~/change_vnc_screen_resolution.sh 1280x768)


WARNING : it will close the current session, make sure you saved everything before!
